@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model List<ADManager.Models.Entities.UserInformation>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <title>@ViewData["Title"]AD Manager - Edit Multiple User</title>
    <link rel="icon" type="image/x-icon" href="~/logo/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/admin_page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit_multiple_user.css" asp-append-version="true" />
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="noscroll dashboard-bg-color">
    <div class="header">
        <div class="container">
            <div class="header_inner">
                <div class="logo">
                    <a href="https://localhost:7034" title="ManageEngine ADManager Plus"></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-nav">
        <ul>
            <li id="home-li" class="navbar-li"><a href="/User/Admin#home-li">主頁</a></li>
            <li id="admin-li" class="navbar-li navbar-li-active"><a href="/User/Admin#admin-li">AD管理</a></li>
            <li id="b1-li" class="navbar-li"><a href="/User/Admin#b1-li">備用1</a></li>
            <li id="b2-li" class="navbar-li"><a href="/User/Admin#b2-li">備用2</a></li>
            <li id="b3-li" class="navbar-li"><a href="/User/Admin#b3-li">備用3</a></li>
        </ul>
    </nav>
    <div class="admp-body-pane modal-fullscreen width">
        <div class="page-header">
            <h1 class="pull-left">
                <span class="grayColoredTxt" style="vertical-align: sub;">批量更改</span><span class="blueColoredTxt" style="vertical-align: sub;">用戶</span>
            </h1>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>
        <div class="admp-layout-pane">
            <!--<div class="col-md-3">
                    <span class="admp-pr-15">選擇的域</span>
                </div>
                <div class="col-md-3">
                    <span class="admp-pr-15">選擇的範本</span>
                </div>-->
            <form asp-action="EditMultipleUser" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th>選擇</th>
                            <th>帳戶名</th>
                            <th>帳戶密碼</th>
                            <th>用戶名</th>
                            <th>Email</th>
                            <th>身分</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-center" style="padding-top: 6px">
                                        <input type="checkbox" name="selectedUsers" value="@Model[i].Id" />
                                        <input type="hidden" asp-for="@Model[i].Id" />
                                    </div>                                   
                                </td>
                                <td>
                                    <input type="text" class="form-control" asp-for="@Model[i].LogonName" readonly />
                                </td>
                                <td>
                                    <input type="text" class="form-control" asp-for="@Model[i].LogonPassword" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" asp-for="@Model[i].UserName" />
                                </td>
                                <td>
                                    <input type="email" class="form-control" asp-for="@Model[i].Email" />
                                </td>
                                <td>
                                    <div class="d-flex" style="padding-top: 6px">
                                        <select asp-for="@Model[i].Rank">
                                            <option value="admin">Admin</option>
                                            <option value="technician">Technician</option>
                                        </select>
                                    </div>                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">更新選定用戶</button>
            </form>
        </div>
    </div>
</body>
